@import "./styles/vars.scss";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
:root{
  width: 100%;
}
html{
  font-size: 14px;
}
body, html, :root, #root{
  margin: 0;
  padding: 0;
  width: 100%;
}
body, html, input, div, p, h1, h2, h3, h4, li, ol, ul{
  box-sizing: border-box;
  display: flex;
  // flex-direction: column;
}

html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: var(--basic-font-size);
}
#root{
  display: flex;
  flex-direction: row;
}
